@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id="mydiv" style="background-color:aliceblue;padding:25px;">
        <h4>Paul Gauguin</h4>
        <p>
            Eugène Henri Paul Gauguin, was a French Post-Impressionist artist.
            Unappreciated until after his death, Gauguin is now recognized for
            his experimental use of color and Synthetist style that were
            distinct from Impressionism. Toward the end of his life, he
            spent ten years in French Polynesia. The paintings from this
            time depict people or landscapes from that region.
        </p>
    </div>

</div>
